/* special css for the project goes here
*/

.header-style-4 .mk-header-inner {
  	width: 220px!important;
}


.vertical-header-enabled.vertical-header-center #mk-theme-container:not(.mk-transparent-header), .vertical-header-enabled.vertical-header-left #mk-theme-container:not(.mk-transparent-header){
	padding-left: 220px;
}

.mk-animate-element{
	opacity: 1;
}

.mk-image-inner{
	padding: 1em;
}

.mk-quick-contact-wrapper {
	display: none;
}
.shopping-cart-header{
        display:none;
}
.responsive-searchform {
    display: inline-block;
    margin: 10px;
    float: right;
}
.responsive-searchform .text-input{
         padding: 10px;
}
#mk-header {
    height:95px;
    background-color: #ffffff;
    border-bottom: none;

}
 /*#mk-breadcrumbs .mk-breadcrumbs-inner {
    margin: 0px 20px -10px 50px;
    } Disabled breadcrumbs */
.mk-grid{
margin: 10px 30px;
}
.page-introduce-title{
margin: 10px 20px 20px 30px;
} /*original: 25px 20px 15px*/
